# Python functions 101

### What is function? (https://www.w3schools.com/python/python_functions.asp)

- A function is a block of code which only runs when it is called.
- You can pass data, known as parameters, into a function.
- A function can return data as a result.

## a very simple function without argument

In [1]:
def print_hello():
  print('hello')

In [2]:
print_hello()

hello

## a function with an argument

In [6]:
def add_2_to_input(num):
  new_number = num + 2
  return(new_number)

1

In [5]:
output = add_2_to_input(5)
output

7

## a very function with two arguments

In [7]:
def add_numbers(num1, num2):
  return(num1 + num2)

In [10]:
x = 3
add_numbers(x, 5)

8

In [11]:
add_numbers(3)

TypeError: ignored

## a function with two arguments with defaults

In [17]:
def add_numbers_with_defaults(num1, num2 = 200):
  return(num1 + num2)

In [13]:
add_numbers_with_defaults(2, 5)

7

In [14]:
add_numbers_with_defaults(4)

204

## a function with arbitrary number of arguments

In [19]:
def sum_numbers_and_multiply(*numbers, multi):
  output = sum(numbers) * multi
  return(output)

In [20]:
sum_numbers_and_multiply(1,3, multi = 2)

8